<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MidgeServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200" maxConcurrentInstances="200" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MidgeService.Midge">
        <endpoint address="http://192.168.1.111:8733/Midge" binding="basicHttpBinding" contract="MidgeContract.IMidge">
          <identity>
            <dns value="192.168.1.111:8733" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex"
				          binding="mexHttpBinding"
				          contract="IMetadataExchange" />-->
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.111:8733/MidgeService/Midge/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>